@{ Layout = null; }

<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <!-- LOGO -->
    <div class="logo-box">
        <a href="#" onclick="redirectToPageByRole()" class="logo text-center">
            <span class="logo-sm">
                <span class="logo-lg-text-light">S</span>
            </span>
            <span class="logo-lg">
                <span class="logo-lg-text-light">SGM</span>
            </span>            
        </a>      
    </div>

    <div class="h-100" data-simplebar>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul id="side-menu">
                <!-- ko if:  exibeMenuHome -->
                <li class="waves-effect">
                    <a asp-controller="Home" asp-action="Index">
                        <i class="ri-bar-chart-box-line"></i>
                        <span> Home </span>
                    </a>
                </li>
                <!-- /ko-->

                <li class="has_sub">
                    <a href="#sidebarServicoCidadao" data-toggle="collapse">
                        <i class="mdi mdi-chip"></i><span>Serviços ao Cidadão </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarServicoCidadao">
                        <ul class="nav-second-level">
                            <li>
                                <a asp-controller="ConcertoIluminacao" asp-action="Index"><span>Concerto de Iluminação</span></a>
                            </li>
                            <li>
                                <a asp-controller="IsencaoIPTU" asp-action="Index"><span>Isenção de IPTU</span></a>
                            </li>
                            <li>
                                <a asp-controller="ConsultaSalario" asp-action="Index"><span>Consulta Salários</span></a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!-- ko if:  exibeMenuGeoreferencia -->
                <li>
                    <a asp-controller="Georeferencia" asp-action="Index">
                        <i class="ri-bar-chart-box-line"></i>
                        <span> Georeferência </span>
                    </a>
                </li>
                <!-- /ko-->
                <!-- ko if:  exibeMenuGestaoProjeto -->
                <li>
                    <a asp-controller="GestaoProjeto" asp-action="Index">
                        <i class="ri-bar-chart-box-line"></i>
                        <span> Gestão de Projetos </span>
                    </a>
                </li>
                <!-- /ko-->
                <!-- ko if:  exibeMenuUsuario -->
                <li>
                    <a asp-controller="Usuario" asp-action="Index">
                        <i class="ri-account-box-line"></i>
                        <span> Usuários </span>
                    </a>
                </li>
                <!-- /ko-->
                <li>
                    <a href="javascript:void(0);" class="dropdown-item notify-item" data-bind="click:webLogoff">
                        <i class="ri-logout-box-line"></i>
                        <span>Sair</span>
                    </a>
                </li>

            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->