@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section contents {

}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Gestão Estratégica de Projetos</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">Gestão Estratégica de Projetos</li>
                </ol>
            </div>
        </div>
    </div>
</div>


@section scripts {  
    <script src="~/js/gestaoProjeto.min.js"></script>
}