@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section contents {
    <link href="~/css/datatable.min.css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Concerto de Iluminação</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">Concerto de Iluminação</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="float-right">
            <a asp-controller="ConcertoIluminacao" asp-action="Cadastro" class="btn btn-primary waves-effect waves-light mb-3">
                <i class="fa fa-plus-circle mr-1"></i> Novo
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table id="datatable-solicitacao-iluminacao" class="table table-striped dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th>Número Solicitacao</th>
                                    <th>Usuário</th>
                                    <th>Data Cadastro</th>
                                    <th>Situação</th>
                                    <th>Opções</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: solicitacoes">
                                <tr>
                                    <td data-bind="text: solicitacaoId"></td>
                                    <td data-bind="text: usuarioNome"></td>
                                    <td data-bind="text: dataCadastro"></td>
                                    <td data-bind="text: situacaoNome"></td>
                                    <td>
                                        <button id="btnIniciarAtendimento" type="button" class="btn btn-secondary waves-effect waves-light" title="Iniciar Atendimento" data-bind="value: solicitacaoId, visible: exibeBotaoIniciarAtendimento()"><i class="mdi mdi-tag-multiple-outline"></i></button>
                                        <button id="btnFinalizarAtendimento" type="button" class="btn btn-success waves-effect waves-light" title="Finalizar Atendimento" data-bind="value: solicitacaoId, visible: exibeBotaoFinalizarAtendimento()"><i class="mdi mdi-check-bold"></i></button>
                                        <button id="btnVisualizar" type="button" class="btn btn-info waves-effect waves-light" title="Visualizar" data-bind="value: solicitacaoId"><i class="mdi mdi-eye-outline"></i></button>
                                        <button id="btnExcluir" type="button" class="btn btn-danger waves-effect waves-light" title="Excluir" data-bind="value: solicitacaoId, visible: exibeBotaoExcluir()"><i class="mdi mdi-trash-can-outline"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/js/datatable.min.js"></script>
    <script src="~/js/concertoIluminacao.min.js"></script>
}