@{ Layout = null; }

<div class="col-md-8 col-lg-6 col-xl-5">
    <div class="card">
        <div class="card-body p-4">
            <div class="text-center w-75 m-auto">               
                <h2>Sistema de Gestão Integrada Municipal  SGM</h2>                
            </div>

            <form action="#" class="mt-3">
                <div class="form-group mb-2">
                    <input class="form-control" type="email" data-bind="value: email" required placeholder="E-mail">
                </div>
                <div class="form-group mb-3">
                    <div class="input-group input-group-merge">
                        <input type="password" id="password" data-bind="value: senha" class="form-control" placeholder="Senha">
                        <div class="input-group-append" data-password="false">
                            <div class="input-group-text">
                                <span class="password-eye"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-0">
                    <button class="btn btn-primary btn-block" type="button" data-bind="click: login"> Entrar </button>
                </div>
            </form>         
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6 text-center">
            <p> <a href="#Recuperacao" data-bind="click: function() { $root.alterarTela(ETelaLogin.RECUPERACAO); }" class="text-muted ml-1">Recuperar senha?</a></p>
        </div>
        <div class="col-6 text-center">
            <p> <a href="#Cadastro" data-bind="click: function() { $root.alterarTela(ETelaLogin.CADASTRO); }" class="text-muted ml-1">Novo Cadastro?</a></p>
        </div>
    </div>
</div>